<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
    <div class="settings">
        <div>
            <p>Частота</p>
            <input type="number" name="" id="frequency">
        </div>
        <div>
            <p>Скорость</p>
            <input type="number" name="" id="speed">
        </div>
        <div>
            <p>max</p>
            <input type="number" name="" id="max">
        </div>
        <div>
            <p>min</p>
            <input type="number" name="" id="min">
        </div>
        <div>
            <p>max Допустимое</p>
            <input type="number" name="" id="maxAcceptable">
        </div>
        <div>
            <p>min Допустимое</p>
            <input type="number" name="" id="minAcceptable">
        </div>
        <button class="startSin">Start</button>
    </div>
    
    <div class="result">
        <div class="fon">
            <div class="ball"></div>
        </div>
    </div>
    
    <script src="/js/socket.js"></script>
</body>
</html>